<%- include('../includes/head.ejs') %>
</head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <script>
            if("<%= token %>") {
                const token = "<%= token%>";
                sessionStorage.setItem('token', token);
            }
        </script>
        <main id="content-replacement">
            <h1>Welcome to ZemoBook!</h1>
        </main>
        <%- include('../includes/end.ejs') %>